<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channels</title>


</head>
<body>
<div class="controller text-center">
<h1>Welcome to Channel</h1>
</div>

    <h4>Behold, your channels await.</h4>

</body>
</html>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send form data with Axios</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />

    <script src="./node_modules/axios/dist/axios.min.js"></script>

</head>

<style>
    form,form* {
        margin: 1rem;
        width: 300px;
    }
    form button, form input {
        width: 100%;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<body>

    <h1>POST form data using Axios API</h1>


<form id="form">

    <label for="Channel">Channel: </label><br>
    <input type="text" name="channel">

    <label for="userName">userName: </label><br>
    <input type="text" name="userName">

    <label for="message">Message: </label><br>
    <input type="text" name="message">


    <button type="submit">Submit</button>
  </form>

<!-- <script>

const form = document.getElementById('form');

form.addEventListener('submit', function (e) {
  e.preventDefault();

  const formData = new FormData(form);

  formData.append()


  console.log({...formData});
  axios.post()



});

</script>

</body>
</html>