*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box{
    min-width: 100%;
    height: 100vh;
    margin: 0vw;
    padding: 20vw 40vw;
    position: relative;
    align-content: center;
    align-items: center;
}

#select-multiple-native{
    font-size: 35px;
    text-align: left;
    margin: 0 0 .1vh 0;
    background-color: rgb(31, 41, 57), rgb(109, 146, 221);
    border: 5px solid black;
    padding: 5vh 0 0 5vh;
    width: auto;
    
}

#select-multiple-native option.text-white{
    color: #fff;
    padding: 16px 20px;

}


.select-special{
    padding: 20px;
}

.select-box {
    border: 2px solid blue;
}

.the-box .labelme{
    font-size: 45px;

}

.box label{
 font-size: 35px;
 width: auto;
}