.App {
    background-image: linear-gradient(90deg, rgb(31, 41, 57), rgb(109, 146, 221));
    width: 100vw;
    height: 133vw;
    margin: 0;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: calc();
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
.Header {
    background-image: linear-gradient(90deg, rgb(89, 121, 180), rgb(138, 165, 221));
}